
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    font-size: 150%;
    color: darkslategray;
}

h2 {
    font-size: 125%;
    color: darkslategrey;
}

.defForm {
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    border-color: #1d643b;
    padding: 10px;
    margin: 10px;
}

.elForm {
    padding: 10px;
    width: 100%;
}

.nav {
    height: 80px;
    alignment: bottom;
    background-color: #e2eddc;
    padding: 20px;
}

.nav a {
    padding-right: 10px;
    color: #1d643b;
}
.req {
    color: red;
    font-size: 75%;
}

.error {
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    border-color: #e3342f;
    padding: 10px;
    margin: 10px;
    background-color: #f7c6c5;
}

.time {
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    border-color: #1d643b;
    padding: 10px;
    margin: 10px;
    background-color: #98e1b7;
}